Repository kjanat/zed-turborepo: changes, and which lefthook commands are due for each by the changed paths.
All: check-large-files, tombi-lint, cargo-check, actionlint

check-large-files:
  run: "IFS=$'\\n'\nfor file in {staged_files}; do\n  size=$(stat -c%s \"$file\" 2>/dev/null || stat -f%z \"$file\" 2>/dev/null)\n  if [ \"$size\" -gt 524288 ]; then\n    echo \"File too large: $file ($size bytes)\"\n    exit 1\n  fi\ndone\n"

tombi-lint:
  run: tombi lint {staged_files}

cargo-check:
  run: cargo check --all-features --all-targets

actionlint:
  run: actionlint {staged_files}

feat(turbo-zed): update highlights.scm with complete turbo.json syntax
  crates/turbo-zed/languages/turbo-json/highlights.scm
Due: check-large-files

fix(turbo-zed): register grammar as jsonc, add negation highlighting
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/highlights.scm
Due: check-large-files, tombi-lint

feat(turbo-mcp): add MCP server for Turborepo
  Cargo.toml
  crates/turbo-mcp/Cargo.toml
  crates/turbo-mcp/src/main.rs
  patches/biome_diagnostics/Cargo.toml
  patches/biome_json_syntax/Cargo.toml
  patches/biome_rowan/Cargo.toml
Due: check-large-files, tombi-lint, cargo-check

refactor(turbo-mcp): use Resources + hierarchical Tools
  crates/turbo-mcp/src/main.rs
Due: check-large-files, cargo-check

feat: add CI/CD, expand turbo-mcp, improve docs
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  Cargo.toml
  README.md
  crates/turbo-mcp/README.md
  crates/turbo-mcp/src/main.rs
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/highlights.scm
  justfile
Due: check-large-files, tombi-lint, cargo-check, actionlint

chore: update toolchain to stable 1.93, add biome deps, fix grammar config
  .zed/settings.json
  Cargo.toml
  crates/turbo-zed/Cargo.toml
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/config.toml
  rust-toolchain.toml
  tombi.toml
Due: check-large-files, tombi-lint

feat: add turbo-core crate, refactor MCP/LSP to share logic
  .mcp.json
  .zed/settings.json
  Cargo.toml
  crates/turbo-core/Cargo.toml
  crates/turbo-core/src/config.rs
  crates/turbo-core/src/discovery.rs
  crates/turbo-core/src/error.rs
  crates/turbo-core/src/lib.rs
  crates/turbo-lsp/Cargo.toml
  crates/turbo-lsp/src/main.rs
  crates/turbo-mcp/Cargo.toml
  crates/turbo-mcp/src/main.rs
  lefthook.yml
Due: check-large-files, tombi-lint, cargo-check

fix: resolve clippy warnings, add rustdoc lints and project configs
  .markdownlint.json
  Cargo.toml
  bacon.toml
  crates/turbo-core/Cargo.toml
  crates/turbo-core/src/config.rs
  crates/turbo-core/src/discovery.rs
  crates/turbo-lsp/src/main.rs
  crates/turbo-mcp/README.md
  crates/turbo-mcp/src/main.rs
  crates/turbo-zed/Cargo.toml
  crates/turbo-zed/configuration/installation_instructions.md
  crates/turbo-zed/extension.toml
  crates/turbo-zed/src/lib.rs
  justfile
Due: check-large-files, tombi-lint, cargo-check

feat: add turborepo workspace with package.json configs and LSP wrapper
  .zed/settings.json
  bun.lock
  crates/turbo-core/package.json
  crates/turbo-lsp/package.json
  crates/turbo-mcp/package.json
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/config.toml
  crates/turbo-zed/package.json
  package.json
  rust-toolchain.toml
  scripts/turbo-lsp-wrapper.sh
  turbo.json
Due: check-large-files, tombi-lint

fix(turbo-zed): resolve clippy warnings
  crates/turbo-zed/Cargo.toml
  crates/turbo-zed/src/lib.rs
Due: check-large-files, tombi-lint, cargo-check

refactor: drop marketplace LSP, refresh tooling
  .dprint.jsonc
  .gitignore
  .ignore
  .zed/settings.json
  README.md
  bun.lock
  crates/turbo-core/src/discovery.rs
  crates/turbo-lsp/src/main.rs
  crates/turbo-zed/configuration/installation_instructions.md
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/config.toml
  crates/turbo-zed/src/lib.rs
  package.json
  patches/biome_diagnostics/src/lib.rs
  patches/biome_json_syntax/src/lib.rs
  patches/biome_parser/src/lib.rs
  patches/biome_rowan/src/lib.rs
  patches/biome_unicode_table/src/bytes.rs
  patches/biome_unicode_table/src/lib.rs
  resources/icon.svg
  rust-toolchain.toml
  scripts/get-turbo-version.ts
  scripts/turbo-lsp-wrapper.sh
  tombi.toml
Due: check-large-files, tombi-lint, cargo-check

fix(turbo-zed): scope language to turbo.json only
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/config.toml
Due: check-large-files, tombi-lint

fix(turbo-zed): enable quickfix code actions for turbo-lsp
  crates/turbo-zed/extension.toml
Due: check-large-files, tombi-lint

refactor: self-contained turbo-lsp, rmcp 1.6
  .zed/settings.json
  Cargo.toml
  bun.lock
  crates/turbo-lsp/Cargo.toml
  crates/turbo-lsp/build.rs
  crates/turbo-lsp/deno.jsonc
  crates/turbo-lsp/doc_links.ts
  crates/turbo-lsp/src/main.rs
  crates/turbo-lsp/validate_doc_links.ts
  crates/turbo-mcp/Cargo.toml
  crates/turbo-mcp/src/main.rs
  crates/turbo-zed/extension.toml
  crates/turbo-zed/languages/turbo-json/config.toml
  package.json
  rust-toolchain.toml
Due: check-large-files, tombi-lint, cargo-check

chore: turbo 2.9.8, install scripts, zed lsp fix
  .zed/settings.json
  bun.lock
  crates/turbo-zed/package.json
  package.json
  turbo.json
Due: check-large-files

chore: rename `install:all` to `install`
  package.json
Due: check-large-files

feat(turbo-lsp): goto-def + `//#task` support
  crates/turbo-lsp/src/main.rs
  crates/turbo-zed/languages/turbo-json/highlights.scm
Due: check-large-files, cargo-check

feat(turbo-lsp): dim `^` dependsOn hint via UNNECESSARY tag
  crates/turbo-lsp/src/main.rs
Due: check-large-files, cargo-check

Path conditions:
  check-large-files: any of: *
  tombi-lint: any of: *.toml
  cargo-check: any of: *.rs
  actionlint: any of: .github/workflows/*.{yaml,yml}
